<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a id="indexNav" class="navbar-brand" href="/">Server-side languages</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <% if (pagename == "about") {%>
                <li class="nav-item"><a id="aboutNav" class="nav-link" href="about" style="color:orange">About</a></li>
                <%} else {%>
                <li class="nav-item"><a id="aboutNav" class="nav-link" href="about" style="color:black">About</a></li>
                <%} %>
                <% if (pagename == "contact") {%>
                <li class="nav-item"><a id="contactNav" class="nav-link" href="contact" style="color:orange">Contact</a>
                </li>
                <%} else {%>
                <li class="nav-item"><a id="contactNav" class="nav-link" href="contact" style="color:black">Contact</a>
                </li>
                <%} %>
                <!-- if logged in display other nav options -->
                <% if(typeof(sess) != "undefined" && sess.loggedin == true){ %> 
                    <% if(pagename == "profile"){%> 
                    <li class="nav-item"><a id="contactNav" class="nav-link" href="profile" style="color:orange">Profile</a></li>
                    <%} else {%>
                    <li class="nav-item"><a id="contactNav" class="nav-link" href="profile" style="color:black">Profile</a></li>
                    <%}%>
                    <li class="nav-item"><a id="contactNav" class="nav-link" href="logout" style="color:black">Logout</a></li>
                    <%}%> 
            </ul>
        </div>
        <% if(typeof(sess) != 'undefined'  && sess.loggedin != true){%> 
        <div style="z-index: 12;
        display: block;
        text-align: right;
        background-color: #333a40;
        margin-right: 0rem;
        padding-right: 0rem;
        color: gray;
        position: absolute;
        width: 16rem;
        margin-top: 10rem;
        padding-top: .5rem;
        right: 1rem;
        border-radius: .75rem;
        padding: .75rem;
        font-size: 1rem;
        ">

        <% console.log(sess) %> 
            <form action="login" method="POST">
                <input type="email" name="email" placeholder="email" />
                <input type="password" name="password" placeholder="password">
                <div style="padding-top: .4rem;">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <% } %> 
</nav>